.App {
  max-width: 50em;
  margin: 0 auto;
  padding: 32px;
  font-family: 'Work Sans', sans-serif;
}

.todo-input {
  font-size: 24px;
  border: none;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  /* color: #6c5b7b; */
  color: #355c7d;
}

.todo-input:focus {
  outline: none;
}

.done {
  text-decoration: line-through;
  color: darkgray;
}

.todo {
  margin: 32px 0px;
  display: flex;
  align-items: center;
  font-size: 24px;
  
}

.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background: #d9d9d9;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  transition: all 300ms ease;
}

.checkbox:hover {
  opacity: 0.8;
}




/* CHECKING AN ITEM  */
.checkmark {
  font-size: 20px;
  /* font-weight: bolder; */
  color: green;
}

.checkedbox {
  background: #b6dcb6;
}



/* DELETING AN ITEM */
.delete {
  margin-left: auto;
}

.delete:hover {
  /* opacity: 0.8; */
  color:#b6dcb6;
}